/node_modules/
/lib/
/test/
custom-elements.json
# top level source
pepesan-element.js
pepesan-element.js.map
pepesan-element.d.ts
pepesan-element.d.ts.map
# only generated for size check
pepesan-element.bundled.js
package-lock.json
.vscode
.idea
./build/test